In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


%matplotlib inline

In [2]:
gdp_df = pd.read_csv("data/gdp_percapita.csv")
gdp_df

,Country or Area,Year,Value,Value Footnotes
0,Afghanistan,2017,1758.465636,NaN
1,Afghanistan,2016,1757.023490,NaN
2,Afghanistan,2015,1766.593077,NaN
3,Afghanistan,2014,1795.735834,NaN
4,Afghanistan,2013,1807.762344,NaN
5,Afghanistan,2012,1772.764974,NaN
6,Afghanistan,2011,1626.764793,NaN
7,Afghanistan,2010,1671.581238,NaN
8,Afghanistan,2009,1502.354073,NaN
9,Afghanistan,2008,1267.644939,NaN
10,Afghanistan,2007,1247.753118,NaN
11,Afghanistan,2006,1123.871323,NaN
12,Afghanistan,2005,1099.104568,NaN
13,Afghanistan,2004,1025.208245,NaN
14,Afghanistan,2003,1055.557459,NaN
15,Afghanistan,2002,1016.245409,NaN
16,Albania,2017,11803.283883,NaN
17,Albania,2016,11356.719009,NaN
18,Albania,2015,10971.046329,NaN
19,Albania,2014,10700.522802,NaN
20,Albania,2013,10492.670315,NaN
21,Albania,2012,10369.562385,NaN
22,Albania,2011,10207.753519,NaN
23,Albania,2010,9927.631333,NaN
24,Albania,2009,9525.372374,NaN
25,Albania,2008,9154.714872,NaN
26,Albania,2007,8450.919272,NaN
27,Albania,2006,7914.036824,NaN
28,Albania,2005,7426.116354,NaN
29,Albania,2004,7001.054941,NaN
...,...,...,...,...
6472,Zimbabwe,2017,2568.410072,NaN
6473,Zimbabwe,2016,2489.097494,NaN
6474,Zimbabwe,2015,2509.008140,NaN
6475,Zimbabwe,2014,2506.490220,NaN
6476,Zimbabwe,2013,2491.635140,NaN
6477,Zimbabwe,2012,2486.847930,NaN
6478,Zimbabwe,2011,2168.110293,NaN
6479,Zimbabwe,2010,1928.017081,NaN
6480,Zimbabwe,2009,1632.999866,NaN
6481,Zimbabwe,2008,1475.140653,NaN
6482,Zimbabwe,2007,1809.791702,NaN
6483,Zimbabwe,2006,1893.936230,NaN
6484,Zimbabwe,2005,1974.645081,NaN
6485,Zimbabwe,2004,2104.143512,NaN
6486,Zimbabwe,2003,2240.903026,NaN
6487,Zimbabwe,2002,2706.031494,NaN
6488,Zimbabwe,2001,2977.768505,NaN
6489,Zimbabwe,2000,2945.993212,NaN
6490,Zimbabwe,1999,3054.064189,NaN
6491,Zimbabwe,1998,3099.076182,NaN
6492,Zimbabwe,1997,3036.422224,NaN
6493,Zimbabwe,1996,2985.856605,NaN
6494,Zimbabwe,1995,2736.486436,NaN
6495,Zimbabwe,1994,2768.309953,NaN
6496,Zimbabwe,1993,2572.870395,NaN
6497,Zimbabwe,1992,2591.007534,NaN
6498,Zimbabwe,1991,2906.272849,NaN
6499,Zimbabwe,1990,2819.549467,NaN
6500,footnoteSeqID,Footnote,NaN,NaN
6501,2,"Excludes South Sudan after July 9, 2011.",NaN,NaN

In [3]:
gdp_df.head(5)

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2017  1758.465636              NaN
1     Afghanistan  2016  1757.023490              NaN
2     Afghanistan  2015  1766.593077              NaN
3     Afghanistan  2014  1795.735834              NaN
4     Afghanistan  2013  1807.762344              NaN

In [4]:
gdp_df.head(6)

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2017  1758.465636              NaN
1     Afghanistan  2016  1757.023490              NaN
2     Afghanistan  2015  1766.593077              NaN
3     Afghanistan  2014  1795.735834              NaN
4     Afghanistan  2013  1807.762344              NaN
5     Afghanistan  2012  1772.764974              NaN

In [5]:
internet_df = pd.read_csv("data/internet_use.csv", nrows=4495)

In [6]:
internet_df.head(5)

  Country or Area  Year     Value  Value Footnotes
0     Afghanistan  2014  6.390000              NaN
1     Afghanistan  2013  5.900000              NaN
2     Afghanistan  2012  5.454545              NaN
3     Afghanistan  2011  5.000000              NaN
4     Afghanistan  2010  4.000000              NaN

In [7]:
internet_df.shape

(4495, 4)

In [8]:
gdp_df.shape

(6502, 4)

In [9]:
internet_df.columns

Index(['Country or Area', 'Year', 'Value', 'Value Footnotes'], dtype='object')

In [10]:
gdp_df.columns

Index(['Country or Area', 'Year', 'Value', 'Value Footnotes'], dtype='object')

In [11]:
internet_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4495 entries, 0 to 4494
Data columns (total 4 columns):
Country or Area    4495 non-null object
Year               4495 non-null int64
Value              4495 non-null float64
Value Footnotes    948 non-null float64
dtypes: float64(2), int64(1), object(1)
memory usage: 140.5+ KB

In [12]:
gdp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6502 entries, 0 to 6501
Data columns (total 4 columns):
Country or Area    6502 non-null object
Year               6502 non-null object
Value              6500 non-null float64
Value Footnotes    1 non-null float64
dtypes: float64(2), object(2)
memory usage: 203.3+ KB

In [13]:
internet_df.columns

Index(['Country or Area', 'Year', 'Value', 'Value Footnotes'], dtype='object')

In [14]:
internet_df = internet_df.drop(columns=['Value Footnotes'])
internet_df.head()

  Country or Area  Year     Value
0     Afghanistan  2014  6.390000
1     Afghanistan  2013  5.900000
2     Afghanistan  2012  5.454545
3     Afghanistan  2011  5.000000
4     Afghanistan  2010  4.000000

In [15]:
gdp_df.columns

Index(['Country or Area', 'Year', 'Value', 'Value Footnotes'], dtype='object')

In [16]:
gdp_df = gdp_df.drop(columns=['Value Footnotes'])
gdp_df.head()

  Country or Area  Year        Value
0     Afghanistan  2017  1758.465636
1     Afghanistan  2016  1757.023490
2     Afghanistan  2015  1766.593077
3     Afghanistan  2014  1795.735834
4     Afghanistan  2013  1807.762344

In [17]:
gdp_df = gdp_df.rename(columns = {'Country or Area':'Country','Year':'Year','Value':'GDP_Per_Capita'})
gdp_df.head()

       Country  Year  GDP_Per_Capita
0  Afghanistan  2017     1758.465636
1  Afghanistan  2016     1757.023490
2  Afghanistan  2015     1766.593077
3  Afghanistan  2014     1795.735834
4  Afghanistan  2013     1807.762344

In [18]:
internet_df = internet_df.rename(columns = {'Country or Area':'Country','Year':'Year','Value':'Internet_Users_Pct'})
internet_df.head()

       Country  Year  Internet_Users_Pct
0  Afghanistan  2014            6.390000
1  Afghanistan  2013            5.900000
2  Afghanistan  2012            5.454545
3  Afghanistan  2011            5.000000
4  Afghanistan  2010            4.000000

In [148]:
gdp_and_internet_use = pd.concat([gdp_df,internet_df])

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [150]:
gdp_and_internet_use.tail()

       Country  GDP_Per_Capita  Internet_Users_Pct  Year
4490  Zimbabwe             NaN            0.033080  1997
4491  Zimbabwe             NaN            0.016790  1996
4492  Zimbabwe             NaN            0.007684  1995
4493  Zimbabwe             NaN            0.001739  1994
4494  Zimbabwe             NaN            0.000000  1990

In [154]:
internet_2004=gdp_and_internet_use[gdp_and_internet_use['Year'].isin ([2004])]
internet_2004

                     Country  GDP_Per_Capita  Internet_Users_Pct  Year
10               Afghanistan             NaN            0.105809  2004
25                   Albania             NaN            2.420388  2004
46                   Algeria             NaN            4.634475  2004
69                   Andorra             NaN           26.837954  2004
88                    Angola             NaN            0.464815  2004
108      Antigua and Barbuda             NaN           24.266544  2004
129                Argentina             NaN           16.036684  2004
153                  Armenia             NaN            4.899009  2004
175                    Aruba             NaN           23.000000  2004
215                  Austria             NaN           54.280000  2004
260                  Bahamas             NaN           22.000000  2004
281                  Bahrain             NaN           21.458681  2004
302               Bangladesh             NaN            0.199036  2004
321                 Barbados             NaN           49.800000  2004
361                  Belgium             NaN           53.860000  2004
386                   Belize             NaN            9.800000  2004
405                    Benin             NaN            1.182541  2004
425                  Bermuda             NaN           60.990867  2004
446                   Bhutan             NaN            3.156984  2004
463                  Bolivia             NaN            4.439925  2004
484   Bosnia and Herzegovina             NaN           15.468972  2004
504                 Botswana             NaN            3.304889  2004
544                   Brazil             NaN           19.073672  2004
569        Brunei Darussalam             NaN           29.715604  2004
590                 Bulgaria             NaN           18.130000  2004
613             Burkina Faso             NaN            0.400295  2004
633                  Burundi             NaN            0.349060  2004
676                 Cambodia             NaN            0.300437  2004
695                 Cameroon             NaN            0.976075  2004
714                   Canada             NaN           65.955963  2004
...                      ...             ...                 ...   ...
3771                   Sudan             NaN            0.791562  2004
3793                Suriname             NaN            6.076048  2004
3814               Swaziland             NaN            3.228685  2004
3835                  Sweden             NaN           83.890000  2004
3860             Switzerland             NaN           67.800000  2004
3885                   Syria             NaN            4.321594  2004
3928      T.F.Y.R. Macedonia             NaN           24.440000  2004
3949              Tajikistan             NaN            0.077480  2004
3966                Tanzania             NaN            0.877575  2004
3986                Thailand             NaN           10.677303  2004
4041                    Togo             NaN            1.500000  2004
4084                   Tonga             NaN            3.952374  2004
4105     Trinidad and Tobago             NaN           27.024270  2004
4126                 Tunisia             NaN            8.528818  2004
4148                  Turkey             NaN           14.580000  2004
4171            Turkmenistan             NaN            0.754054  2004
4197                  Uganda             NaN            0.719971  2004
4218                 Ukraine             NaN            3.489478  2004
4241    United Arab Emirates             NaN           30.131296  2004
4262          United Kingdom             NaN           65.610000  2004
4287           United States             NaN           64.758256  2004
4312                 Uruguay             NaN           17.063098  2004
4334              Uzbekistan             NaN            2.593725  2004
4355                 Vanuatu             NaN            4.746603  2004
4375               Venezuela             NaN            8.404470  2004
4399                Viet Nam             NaN            7.642409  2004
4419   Virgin Islands (U.S.)             NaN           27.377009  2004
4441                   Yemen             NaN            0.881223  2004
4461                  Zambia             NaN            2.013550  2004
4483                Zimbabwe             NaN            6.564045  2004

[199 rows x 4 columns]

In [155]:
internet_2009=gdp_and_internet_use[gdp_and_internet_use['Year'].isin ([2009])]
internet_2009

                     Country  GDP_Per_Capita  Internet_Users_Pct  Year
5                Afghanistan             NaN            3.550000  2009
20                   Albania             NaN           41.200000  2009
41                   Algeria             NaN           11.230000  2009
64                   Andorra             NaN           78.530000  2009
83                    Angola             NaN            6.000000  2009
103      Antigua and Barbuda             NaN           42.000000  2009
124                Argentina             NaN           34.000000  2009
148                  Armenia             NaN           15.300000  2009
170                    Aruba             NaN           58.000000  2009
188                Australia             NaN           74.250000  2009
210                  Austria             NaN           73.450000  2009
235               Azerbaijan             NaN           27.400000  2009
255                  Bahamas             NaN           33.880000  2009
276                  Bahrain             NaN           53.000000  2009
297               Bangladesh             NaN            3.100000  2009
316                 Barbados             NaN           64.700000  2009
337                  Belarus             NaN           27.430000  2009
356                  Belgium             NaN           70.000000  2009
381                   Belize             NaN           27.200000  2009
400                    Benin             NaN            2.240000  2009
420                  Bermuda             NaN           83.250000  2009
441                   Bhutan             NaN            7.170000  2009
458                  Bolivia             NaN           16.800000  2009
479   Bosnia and Herzegovina             NaN           37.740000  2009
499                 Botswana             NaN            6.150000  2009
539                   Brazil             NaN           39.220000  2009
564        Brunei Darussalam             NaN           49.000000  2009
585                 Bulgaria             NaN           45.000000  2009
608             Burkina Faso             NaN            1.130000  2009
628                  Burundi             NaN            0.900000  2009
...                      ...             ...                 ...   ...
3809               Swaziland             NaN            8.940000  2009
3830                  Sweden             NaN           91.000000  2009
3855             Switzerland             NaN           81.300000  2009
3880                   Syria             NaN           17.300000  2009
3923      T.F.Y.R. Macedonia             NaN           51.770000  2009
3944              Tajikistan             NaN           10.070000  2009
3961                Tanzania             NaN            2.400000  2009
3981                Thailand             NaN           20.100000  2009
4024             Timor-Leste             NaN            0.185252  2009
4036                    Togo             NaN            2.600000  2009
4079                   Tonga             NaN           10.000000  2009
4100     Trinidad and Tobago             NaN           44.300000  2009
4121                 Tunisia             NaN           34.070000  2009
4143                  Turkey             NaN           36.400000  2009
4166            Turkmenistan             NaN            1.950000  2009
4182                  Tuvalu             NaN           20.000000  2009
4192                  Uganda             NaN            9.780000  2009
4213                 Ukraine             NaN           17.900000  2009
4236    United Arab Emirates             NaN           64.000000  2009
4257          United Kingdom             NaN           83.560000  2009
4282           United States             NaN           71.000000  2009
4307                 Uruguay             NaN           41.800000  2009
4329              Uzbekistan             NaN           17.058216  2009
4350                 Vanuatu             NaN            7.500000  2009
4370               Venezuela             NaN           32.700000  2009
4394                Viet Nam             NaN           26.550000  2009
4414   Virgin Islands (U.S.)             NaN           27.396510  2009
4436                   Yemen             NaN            9.960000  2009
4456                  Zambia             NaN            6.310000  2009
4478                Zimbabwe             NaN           11.360000  2009

[203 rows x 4 columns]

In [156]:
internet_2014=gdp_and_internet_use[gdp_and_internet_use['Year'].isin ([2014])]
internet_2014

                     Country  GDP_Per_Capita  Internet_Users_Pct  Year
0                Afghanistan             NaN             6.39000  2014
15                   Albania             NaN            60.10000  2014
36                   Algeria             NaN            18.09000  2014
59                   Andorra             NaN            95.90000  2014
78                    Angola             NaN            21.26000  2014
98       Antigua and Barbuda             NaN            64.00000  2014
119                Argentina             NaN            64.70000  2014
143                  Armenia             NaN            46.30000  2014
165                    Aruba             NaN            83.78000  2014
183                Australia             NaN            84.56000  2014
205                  Austria             NaN            81.00000  2014
230               Azerbaijan             NaN            61.00000  2014
250                  Bahamas             NaN            76.92000  2014
271                  Bahrain             NaN            90.99998  2014
292               Bangladesh             NaN             9.60000  2014
311                 Barbados             NaN            76.67000  2014
332                  Belarus             NaN            59.02000  2014
351                  Belgium             NaN            85.00000  2014
376                   Belize             NaN            38.70000  2014
395                    Benin             NaN             5.30000  2014
415                  Bermuda             NaN            96.80000  2014
436                   Bhutan             NaN            34.37000  2014
453                  Bolivia             NaN            39.02000  2014
474   Bosnia and Herzegovina             NaN            60.80000  2014
494                 Botswana             NaN            18.50000  2014
534                   Brazil             NaN            57.60000  2014
559        Brunei Darussalam             NaN            68.77000  2014
580                 Bulgaria             NaN            55.49000  2014
603             Burkina Faso             NaN             9.40000  2014
623                  Burundi             NaN             1.38000  2014
...                      ...             ...                 ...   ...
3783                Suriname             NaN            40.08000  2014
3804               Swaziland             NaN            27.10000  2014
3825                  Sweden             NaN            92.52000  2014
3850             Switzerland             NaN            87.00000  2014
3875                   Syria             NaN            28.09000  2014
3918      T.F.Y.R. Macedonia             NaN            68.06000  2014
3939              Tajikistan             NaN            17.49000  2014
3956                Tanzania             NaN             4.86000  2014
3976                Thailand             NaN            34.89000  2014
4019             Timor-Leste             NaN             1.14000  2014
4031                    Togo             NaN             5.70000  2014
4074                   Tonga             NaN            40.00000  2014
4095     Trinidad and Tobago             NaN            65.10000  2014
4116                 Tunisia             NaN            46.16000  2014
4138                  Turkey             NaN            51.04000  2014
4161            Turkmenistan             NaN            12.20000  2014
4187                  Uganda             NaN            17.71000  2014
4208                 Ukraine             NaN            43.40000  2014
4231    United Arab Emirates             NaN            90.40000  2014
4252          United Kingdom             NaN            91.61000  2014
4277           United States             NaN            87.36000  2014
4302                 Uruguay             NaN            61.46000  2014
4324              Uzbekistan             NaN            43.55000  2014
4345                 Vanuatu             NaN            18.80000  2014
4365               Venezuela             NaN            57.00000  2014
4389                Viet Nam             NaN            48.31000  2014
4409   Virgin Islands (U.S.)             NaN            50.07000  2014
4431                   Yemen             NaN            22.55000  2014
4451                  Zambia             NaN            17.34000  2014
4473                Zimbabwe             NaN            19.89000  2014

[202 rows x 4 columns]

In [ ]:
internet_2014